/*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}

/* =Global
----------------------------------------------- */

body {
	font-family: tahoma, sans-serif;
	font-size: 16px;
	margin: 0;
	background: url('images/bg-pattern.png');
	color: #333;
	display: none;
	font-family: 'PT Sans', sans-serif;
}
a {
	color: #333;
}
p {
	margin-top: 0;
}
ul li {
	list-style: none;
	margin-bottom: 10px;
}
/*.link-span {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}*/
#wrapper {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}
#dark-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
}
.popup {
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -150px;
	background: #FFF;
	width: 400px;
	height: 280px;
	border-radius: 5px;
}
.popup p {
	margin-bottom: 20px;
}
.close-popup {
	background-image: url('images/close-icon.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	top: 20px;
	right: 20px;
	height: 35px;
	width: 35px;
	position: absolute;
	display: block;
}
.popup p {
	font-size: 14px;
	color: #999;
}
#header {
	margin-left: 0;
	margin-top: 30px;
}
.nav-logo {
	position: absolute;
	left: 18px;
	bottom: 0px;
}
.nav-cog {
	position: absolute;
	right: 12px;
	bottom: 11px;
}
.site-name {
	font-family: 'Amaranth', sans-serif;
	font-size: 18px;
	padding-left: 87px;
	padding-right: 15px;
}

#nav-menu, ul.navigation {
}

/* LOGIN PAGE */

body.login {
	display: block;
}
.login-logo {
	margin-left: auto;
	margin-right: auto;
	background-image: url('images/logo-medium.png');
	background-repeat: no-repeat;
	background-size: 187 192;
	background-position: center center;
	width: 187px;
	height: 220px;
}
#login {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding-left: 10px;
	padding-right: 10px;
}
#login h2 {
	text-align: center;
	color: #333;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 0;
}
form.form-community-post {
	margin-top: 15px;
}
form.form-community-post input {
	display: inline-block;
	vertical-align: top;
	height: 50px;
	background: #FFF;
	border-width: 0px;
	font-size: 16px;
    border-radius: 5px;
	padding: 5px;
}
form.form-community-post .post-text {
	padding-left: 15px;
	width: 585px;
	margin-right: 10px;
}
form.form-community-post input[type=submit] {
	-webkit-box-shadow: 0px 3px 0px 0px #FF7373;
	box-shadow: 0px 3px 0px 0px #FF7373;
	text-transform: uppercase;
	padding: 10px;
	width: 70px;
	height: 47px;
}

form.form-login label, form.form-login input,
form.form-challenge label, form.form-challenge input {
	width: 100%;
}

form.form-login label,
form.form-challenge label {
	margin-bottom: 5px;
	font-style: none;
	display: block;
	color: #666;
}
form.form-login input,
form.form-challenge input {
	display: block;
	height: 50px;
	margin-bottom: 10px;
	background: #FFF;
	border-width: 0px;
	font-size: 16px;
    border-radius: 5px;
	padding: 5px;
}
form.form-login input[type=submit],
form.form-challenge input[type=submit] {
	color: #333;
    border: 0;
   	margin-top: 15px;
    height:50px;
    background: #FFF;
	-webkit-box-shadow: 0px 3px 0px 0px #666;
	box-shadow: 0px 3px 0px 0px #666;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.gradient {
	/* Old browsers */
    background: -moz-linear-gradient(top, #FBEBB4 1%, #FBC500 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #FBEBB4), color-stop(100%, #FBC500));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FBEBB4 1%, #FBC500 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FBEBB4 1%, #FBC500 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FBEBB4 1%, #FBC500 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #FBEBB4 1%, #FBC500 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBEBB4', endColorstr='#FBC500', GradientType=0);
    /* IE6-9 */
}

/* CONTENT */
#content {
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
#main-content {
	position: relative;
}
#profile {
	position: relative;
}
#myhealth {
	position: relative;
}
.tile, .vital-overlay {
	background: #FFF;
	border-radius: 5px;
	-webkit-box-shadow: 0px 3px 0px 0px #BBB;
	box-shadow: 0px 3px 0px 0px #BBB;
}
.tile {
	margin-top: 15px;
}
.tile, .vital-overlay {
	padding: 20px;
}
.tile h2 {
	margin-top: 2px;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: bold;
}
.tile p {
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 1.4em;
}
.advertisement {
	margin-top: 15px;
}

#main-content {
	display: block;
	width: 670px;
}
.left {
	float: left;
}

#health-overview, #health-details {

	padding: 10px;
}
#health-overview {
	font-family: 'Amaranth', sans-serif;
	display: block;
	text-align: center;
}
.health-score-label {
	font-size: 20px;
}
.health-score {
	font-size: 60px;
	color: #78BB66;
}
.health-score-commentary {
	font-size: 16px;
	color: #666;
	margin-bottom: 15px;
}
#health-details {
	display: none;
	text-align: left;
}

/* NAVIGATION */
#nav-menu {
	position: relative;
	border-radius: 5px;
	background: #FFF;
	-webkit-box-shadow: 0px 4px 0px 0px #F8C100;
	box-shadow: 0px 4px 0px 0px #F8C100;
}
ul.navigation {
	margin-bottom: 10px;
}
ul.navigation li {
	display: inline-block;
	margin-bottom: auto;	
}
ul.navigation li a {
	font-family: 'Amaranth', sans-serif;
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 12 center;
	background-size: 24px 24px;
	padding-left: 45px;
	padding-right: 15px;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
}
#health-nav-menu {
	margin-top: 5px;
}
ul.health-navigation li {
	display: inline-block;
}
ul.health-navigation li a {
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	padding: 6px 9px;
	margin-right: 4px;
	border-radius: 5px;

}
a.active-link {
	background-color: #F8C100 !important;
	color: #FFF;
}
a.nav-myhealth {
	background-image: url('images/myhealth-icon.png');
}
a.nav-myhealth.active-link {
	background-image: url('images/myhealth-icon-selected.png');
}	
a.nav-community {
	background-image: url('images/community-icon.png');
}
a.nav-community.active-link {
	background-image: url('images/community-icon-selected.png');
}

/* Profile Block */

.profile-info {
	padding-left: 70px;
}
.profile-name {
	font-family: 'Amaranth', sans-serif;
	font-size: 28px;
	margin-bottom: 5px;
}
.profile-content {
	font-size: 14px;
	font-family: "PT Sans", sans-serif;
	color: #666;
}
/* Vitals Page */

.vitals-intro {
	margin-bottom: 15px;
	font-size: 14px;
	font-family: "PT Sans", sans-serif;
	text-align: left;
	color: #666;
}

.vital {
	text-align: left;
	display: inline-block;
	width: 227px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	border-left-width: 4px;
	border-left-style: solid;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-color: #EEE;
	border-top-color: #EEE;
	border-bottom-color: #EEE;
	background-color: #FFF;
	background-size: 39px 39px, 30px 30px;
	background-repeat: no-repeat, no-repeat; 
	background-position: 10 center, right top;
	border-radius: 4px;
}
.vital-icon, .vital-icon-overlay {
	float: left;
}
.vital-icon-overlay {
	padding: 15px;
}
.vital-name {
	font-family: 'Amaranth', sans-serif;
	font-size: 16px;
	margin-bottom: 3px;
}
.vital-value {
	padding-top: 0px;
}
.vital-value span {
	font-size: 14px;
	font-weight: normal;
	font-family: "PT Sans", sans-serif;
}
.vital-overlay {
	background-color: #FFF;
	background-repeat: no-repeat; 
	background-position: 16 16;
	background-attachment: local;
	background-size: 53px 53px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-top-style: solid;
	border-top-width: 6px;
}
ul.vital-breakdown {
	padding-left: 0;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 0em;
}
.vital-overlay-nav {
	position: relative;
	margin-top: 18px;
}
ul.vital-nav-menu li {
	display: inline-block;
}
ul.vital-nav-menu li a {
	font-size: 14px;
	padding: 6px 9px;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 5px;
	font-family: "PT Sans", sans-serif;
}
a.vital-nav-item-active {
	background-color: #EEE;
	color: #000;
}
.subvital-menu {
	position: absolute;
	top: 10px;
	right: 90px;
	width: 120px;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
}

.subvital-menu a {
	width: 120px;
	height: 60px;
	line-height: 60px;
	padding: 6px 9px;
	margin-left: 10px;
	text-decoration: none;
	border-radius: 5px;
}
.subvital-menu-label {
}
a.vital-nav-item-active, a.subvital-nav-item-active, a.health-active-link {
	background-color: #EEE;
	color: #000;
}
.close-overlay {
	background-image: url('images/close-icon.png');
	background-size: 53px 53px;
	top: 20px;
	right: 20px;
	height: 53px;
	width: 53px;
	position: absolute;
	display: block;
}
.vital-overlay-name, .vital-overlay-date {
	padding-left: 65px;
}
.vital-overlay-name {
	font-family: 'Amaranth', sans-serif;
	font-size: 24px;
}
.vital-overlay-explanation, .vital-overlay-recommendation {
	text-align: left;
}
.vital-overlay-explanation h2, .vital-overlay-recommendation h2 {
	color: #333;
	font-size: 22px;
	font-weight: normal;
	margin-top: 10px`;
}
.vital-overlay-explanation p, .vital-overlay-recommendation p {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	color: #333;
}
.vital-overlay-date {
	margin-top: 3px;
	font-size: 14px;
	color: #666;
	font-family: 'PT Sans', sans-serif;
}
.vital-overlay-content {
	font-family: 'Amaranth', sans-serif;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	color: #666;
}
.vital-chart {
	margin-top: 10px;
}
.vital-overlay-historical {
	display: none;
	text-align: center;
}
.vital-overlay-value {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 48px;
	margin-left: 2px;
	margin-right: 0px;
}
.high-risk {
	color: #EC5968;
}
.high-risk-border-left {
	border-left-color: #EC5968;
}
.high-risk-border-top {
	border-top-color: #EC5968;
}
.medium-risk {
	color: #F7A649;
}
.medium-risk-border-left {
	border-left-color: #F7A649;
}
.medium-risk-border-top {
	border-top-color: #F7A649;
}
.low-risk {
	color: #78BB66;
}
.low-risk-border-left {
	border-left-color: #78BB66;
}
.low-risk-border-top {
	border-top-color: #78BB66;
}

.vital-description {
	clear: none;
	margin-bottom: 10px;
}
.vital-risk-description, .vital-value-explanation {
	display: inline-block;
	width: 75%;
}
.vital-stats {
	text-align: center;
	margin-top: 14px;
}
.vital-stats-image {
	max-width: 100%;
}
.avatar {
}
.img-avatar {
	max-width: 50%;
	float: left;
}
.last-visit {
	width: auto;
	padding: 7px;
	margin-top: 18px;
	text-align: center;
	font-size: 14px;
	color: #666;
}

/* SIDEBAR */
.side-content {
	width: 310px;
	display: block;
}
.right {
	float: right;
}
.side-content p {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-color: #999;
	margin-bottom: 0;
}
.clinic-reminder {
	padding-left: 45px;
	background-image: url('images/clock-icon.png');
	background-repeat: no-repeat;
	background-position: 15px center;
}
.kongkiat-challenge h2 {
	font-family: 'Amaranth', sans-serif;
	margin-top: 12px;
	margin-bottom: 30px;
	padding-left: 70px;
	font-weight: normal;
	font-size: 18px;
}
.kongkiat-challenge {
	background-image: url('images/kongkiat-icon.png');
	background-repeat: no-repeat;
	background-position: 15 15;
}
a.accept-challenge {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: #333;
	font-weight: bold;
	background: #EEE;
	border-radius: 5px;
	padding: 6px 9px;
	display: block;
	width: 180px;
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* COMMUNITY */
#stream-myactivity, 
#stream-bloodglucose, 
#stream-bloodpressure, 
#stream-bmi {
	display: none;
}
.stream-categories, .stream-my-activity {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 0px;
}
ul.stream-nav li {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0;
	margin-bottom: 0;
}
ul.stream-nav li a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	position: relative;
}
ul.stream-nav li:hover {
	background-color: #F9F9F9;
}
.stream-active {
	background-color: #F9F9F9;
}
.bullet-arrow {
	background-image: url('images/bullet-arrow.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 16px;
	right: 0px;
	width: 4px;
	height: 8px;
}
.stream-post {
	margin-bottom: 20px;
}
.community-profile-pic, .comment-profile-pic {
	float: left;
}
.comment-profile-pic {
	padding: 10px;
}
.stream-post-content, .stream-comment-content {
	font-size: 14px;
}
.stream-post-content {
	padding-left: 70px;
}
.stream-comment-content {
	padding-left: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.stream-post-name {
	font-weight: bold;
	margin-bottom: 2px;
}
.stream-post-name-span {
	padding-top: 3px;
	padding-bottom: 2px;
	padding-right: 25px;
}
.doctor-badge {
	background-image: url('images/doctor-badge.png');
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: right center;
}
.stream-post-message {
	margin-bottom: 4px;
}
.stream-post-footer {
	font-size: 12px;
	color: #999;
}
.stream-post-footer a {
	color: #999;
}
.stream-post-comments {
	background-color: #F9F9F9;
	width: 100%;
	margin-top: 10px;
}

/* D3 Styles */
.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
.historical-line {
	fill: none;
	stroke-width: 3px;
}
.historical path,
.historical line {
	fill: none;
	stroke: #999;
	shape-rendering: crispEdges;
}
.historical-text {
	width: 20px;
}
.histogram-axis path,
.histogram-axis line {
	fill: none;
	stroke: #999;
	shape-rendering: crispEdges;
} 
.vital-stats-label {
	font-size: 14px;
	fill: #666;
}
.axis text, .historical text {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    fill: #666;
}
.bar rect {
  shape-rendering: crispEdges;
}
.histogram-axis text {
	font-size: 12px;
	fill: #666;
}
.histogram-label {
	font-size: 14px;
	fill: #666;
}
.y.histogram-label {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}



