{% include 'header.html' %}
<div id="content">
    <div id="main-content">
        <div id="profile" class="tile left-content" style="background-image: url('static/css/images/profile-pic.png'); background-position: 15px center; background-repeat: no-repeat;">
            <div class="profile-info">
                <div class="profile-name">
                    {{ context.name }}
                </div>
                <div class="profile-content">
                    {{ context.gender }}, {{ context.years }} years old, {{ context.height }}cm, {{ context.weight }}kg
                </div>
            </div>
        </div>
        <div id="myhealth" class="tile left-content">
            <div id="health-nav-menu">
                <ul class="health-navigation">
                    <li><a href="#" class="nav-health-overview health-active-link">Overview</a>
                    <li><a href="#" class="nav-health-details">Details</a>
                </ul>
            </div>
            <div id="health-overview">
                <div class="health-score-label">Your total health score is</div>
                <div class="health-score">86</div>
                <div class="health-score-commentary">
                    You are a very healthy and handsome young man!  Stay at this level of health and you will live a long and wonderful life!
                </div>
                <div class="fb-share-button" data-href="http://bhos.tim-meyers.com/fb-share-template.html" data-type="button"></div>
            </div>
            <div id="health-details">
                <div class="vitals-intro">
                    Below are your vitals.  They are very important parts of your health.  Click on each to learn more about what they are and how healthy you are!
                </div>
                {% for vital in context.vitals %}
                <div class="vital {{ vital.vital_id }}" style="background-image: url('static/css/images/{{ vital.vital_icon_name }}'), url('static/css/images/expand.png');">
                    <div class="vital-name">{{ vital.vital_name }}</div>
                    <div class="vital-value">
                        <span class="{{ vital.vital_id }}">
                            {% for vital_value in vital.vital_values -%}
                                {{ vital_value }}
                                {%- if not loop.last -%}
                                    {{ vital.vital_values_sep|safe }}
                                {%- endif -%}
                            {%- endfor %}
                            {{ vital.vital_unit|safe }}
                        </span>
                    </div>
                    <div class="vital-overlay {{ vital.vital_id }}" style="background-image: url('static/css/images/{{ vital.vital_icon_name }}');">
                        <div class="vital-overlay-name">{{ vital.vital_name }}</div>
                        <div class="vital-overlay-date">Updated September 30<sup>th</sup>, 2013</div>
                        {% for sub_vital in vital.vital_subs %}
                        <div class="vital-overlay-nav {{ vital.vital_id }}-{{ sub_vital.lower() }}"
                            {%- if not loop.first -%}
                                style="display: none;"
                            {%- endif -%}
                            >
                            <ul class="vital-nav-menu">
                                <li><a href="#" class="{{ vital.vital_id }}-{{ sub_vital.lower() }} vital-overlay-content-link vital-nav-item-active">Recent</a>
                                <li><a href="#" class="{{ vital.vital_id }}-{{ sub_vital.lower() }} vital-overlay-historical-link">Historical</a>
                            </ul>
                        </div>
                        <div class="vital-overlay-content {{ vital.vital_id }}-{{ sub_vital.lower() }}"
                            {%- if not loop.first -%}
                                style="display: none;"
                            {%- endif -%}
                            >
                            Your {{ sub_vital.lower() }} {{ vital.vital_id }} is 
                            <span class="vital-overlay-value {{ vital.vital_id }} {{ sub_vital.lower() }}">
                                <span class="{{ vital.vital_id}}-{{ sub_vital.lower() }}-value-{{ loop.index0 }}">{{ vital.vital_values[loop.index0] }}</span>
                            </span> {{ vital.vital_unit|safe }}
                            <div class="vital-chart {{ vital.vital_id }} {{ sub_vital.lower() }}"></div>
                            <img src="static/css/images/fb-share.png">
                            <div class="vital-overlay-explanation">
                                <h2>Explanation</h2>
                                <p>{{ vital.vital_definitions[loop.index0] }}</p>
                                <p>The graph below shows the {{ sub_vital.lower() }} {{ vital.vital_name.lower() }} level across the Thai population for your age, gender, and weight.  The higher the bar, the more people in Thailand have that {{ sub_vital.lower() }} {{ vital.vital_name.lower() }} level.  You want to be on a high bar, because that is where most people are.  If you are on a low bar, you are alone and not healthy.</p>
                            </div>
                            <div class="vital-histogram {{ vital.vital_id }} {{ sub_vital.lower() }}"></div>
                            <div class="vital-overlay-recommendation">
                                <h2>Recommendation</h2>
                                <p>{{ vital.vital_recommendation }}</p>
                            </div>
                        </div>
                        <div class="vital-overlay-historical {{ vital.vital_id }}-{{ sub_vital.lower() }}"></div>
                        {% endfor %}
                        <div class="subvital-menu">
                            <span class="subvital-menu-label">Page:</span>
                            {% for subVital in vital.vital_subs %}
                                <span><a href="#" 
                                    class="{{ vital.vital_id }}-{{ subVital.lower() }} vital-overlay-content-link 
                                {%- if loop.first %}
                                    subvital-nav-item-active
                                {% endif -%}">{{ loop.index }}</a></span>
                            {% endfor %}
                            
                        </div>
                        <div class="close-overlay"></div>
                    </div>
                </div>
                {% endfor %}
                <div class="last-visit">
                    Last updated September 25th, 2013
                </div>
            </div>
        </div>
    </div>
    <div class="side-content">
        <div class="clinic-reminder tile">
            <p>Visit clinic in 2 months and 10 days</p>
        </div>
        <div class="kongkiat-challenge tile">
            <h2>Dr. Kongkiat's Challenge</h2>
            <p>"You have high cholesterol.  You need to eat more vegetables and less fatty foods.  I challenge you to spend at least 3 days a week with this new diet.  You are due to return to the clinic for another checkup in 2 months and 10 days."</p>
            <a href="#" class="accept-challenge">accept the challenge &#8227;</a>
        </div>
        <div class="advertisement tile">
            <p>ADVERTISEMENT</p>
        </div>
    </div>
</div>
{% include 'footer.html' %}