{% include 'header-community.html' %}
<div id="content">
    <div id="main-content" class="right">
        <div id="question">
            <form class="form-community-post">
                <input type="text" class="post-text" Placeholder="Ask a question about your health or share information with others!" class="stream-input-text">
                <input type="submit" value="post">
            </form>
        </div>
        <div id="stream-bloodglucose" class="tile">
            No Blood Glucose activity
        </div>
        <div id="stream-bloodpressure" class="tile">
            No Blood Pressure activity
        </div>
        <div id="stream-bmi" class="tile">
            No Body Mass Index (BMI) activity
        </div>
        <div id="stream-cholesterol" class="tile">
            <div id="stream-post-1" class="stream-post">
                <img src="static/css/images/community-profile-pic-1.png" class="community-profile-pic">
                <div class="stream-post-content">
                    <div class="stream-post-name">
                        Theerapat Yangyuenthanasan
                    </div>
                    <div class="stream-post-message">
                        I have high cholesterol, can I eat satay chicken?
                    </div>
                    <div class="stream-post-footer">
                        <a href="#">Comment</a> - <span class="stream-post-date">1 hour ago</span>
                    </div>
                    <div class="stream-post-comments">
                        <img src="static/css/images/community-profile-pic-2.png" class="comment-profile-pic">
                        <div class="stream-comment-content">
                            <div class="stream-post-name">
                                Anat Boonliang 
                            </div>
                            <div class="stream-post-message">
                                I don’t think so.  It’s pretty greasy... but delicious though!
                            </div>
                            <div class="stream-post-footer">
                                1 hour ago
                            </div>
                        </div>
                    </div>
                    <div class="stream-post-comments">
                        <img src="static/css/images/community-profile-pic-3.png" class="comment-profile-pic">
                        <div class="stream-comment-content">
                            <div class="stream-post-name">
                                <span class="stream-post-name-span doctor-badge">Kongkiat Kespechara</span>
                            </div>
                            <div class="stream-post-message">
                                You do not have to be so strict in your diet.  Yes, satay chicken is high in cholesterol, and I typically recommend my patients to limit their high-cholesterol meals to one per week.  However, I think it’s okay to have satay chicken once per week.  It is just important for you to be reasonable with your eating habits.
                            </div>
                            <div class="stream-post-footer">
                                1 hour ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="stream-post-4" class="stream-post">
                <img src="static/css/images/community-profile-pic-4.png" class="community-profile-pic">
                <div class="stream-post-content">
                    <div class="stream-post-name">
                        Nattapong Jainukul 
                    </div>
                    <div class="stream-post-message">
                        Interesting article about cholesterol: http://healthnews.com/?id=34573237&ln=en
                    </div>
                    <div class="stream-post-footer">
                        <a href="#">Comment</a> - 1 hour ago
                    </div>
                </div>
            </div>
            <div id="stream-post-5" class="stream-post">
                <img src="static/css/images/community-profile-pic-5.png" class="community-profile-pic">
                <div class="stream-post-content">
                    <div class="stream-post-name">
                        Aungkana Praphasirirat
                    </div>
                    <div class="stream-post-message">
                        Delicious food, low cholesterol.  Is it possible?  YES!!! Here are some great recipes I found: cholesterol: http://eathealthy.com/?id=8245272344534&ln=en
                    </div>
                    <div class="stream-post-footer">
                        <a href="#">Comment</a> - <span class="stream-post-date">1 hour ago</span>
                    </div>
                    <div class="stream-post-comments">
                        <img src="static/css/images/community-profile-pic-6.png" class="comment-profile-pic">
                        <div class="stream-comment-content">
                            <div class="stream-post-name">
                                Kwan Suttikul 
                            </div>
                            <div class="stream-post-message">
                                Awesome!  Thank you!  I am making #43 tonight... 
                            </div>
                            <div class="stream-post-footer">
                                1 hour ago
                            </div>
                        </div>
                    </div>
                    <div class="stream-post-comments">
                        <img src="static/css/images/community-profile-pic-7.png" class="comment-profile-pic">
                        <div class="stream-comment-content">
                            <div class="stream-post-name">
                                Mook Thanasukolwit 
                            </div>
                            <div class="stream-post-message">
                                Wow that food looks amazing!  #16 is my favorite.  I’ll need to start cooking again!
                            </div>
                            <div class="stream-post-footer">
                                1 hour ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="stream-post-8" class="stream-post">
                <img src="static/css/images/community-profile-pic-8.png" class="community-profile-pic">
                <div class="stream-post-content">
                    <div class="stream-post-name">
                        Chonticha Wongsawat 
                    </div>
                    <div class="stream-post-message">
                        What is the difference between LDL and HDL cholesterol?  I still don’t really understand...
                    </div>
                    <div class="stream-post-footer">
                        <a href="#">Comment</a> - <span class="stream-post-date">1 hour ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="stream-myactivity" class="tile">
            <div id="stream-post-1" class="stream-post">
                <img src="static/css/images/community-profile-pic-1.png" class="community-profile-pic">
                <div class="stream-post-content">
                    <div class="stream-post-name">
                        Theerapat Yangyuenthanasan
                    </div>
                    <div class="stream-post-message">
                        I have high cholesterol, can I eat satay chicken?
                    </div>
                    <div class="stream-post-footer">
                        <a href="#">Comment</a> - <span class="stream-post-date">1 hour ago</span>
                    </div>
                    <div class="stream-post-comments">
                        <img src="static/css/images/community-profile-pic-2.png" class="comment-profile-pic">
                        <div class="stream-comment-content">
                            <div class="stream-post-name">
                                Anat Boonliang 
                            </div>
                            <div class="stream-post-message">
                                I don’t think so.  It’s pretty greasy... but delicious though!
                            </div>
                            <div class="stream-post-footer">
                                1 hour ago
                            </div>
                        </div>
                    </div>
                    <div class="stream-post-comments">
                        <img src="static/css/images/community-profile-pic-3.png" class="comment-profile-pic">
                        <div class="stream-comment-content">
                            <div class="stream-post-name">
                                <span class="stream-post-name-span doctor-badge">Kongkiat Kespechara</span>
                            </div>
                            <div class="stream-post-message">
                                You do not have to be so strict in your diet.  Yes, satay chicken is high in cholesterol, and I typically recommend my patients to limit their high-cholesterol meals to one per week.  However, I think it’s okay to have satay chicken once per week.  It is just important for you to be reasonable with your eating habits.
                            </div>
                            <div class="stream-post-footer">
                                1 hour ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side-content left">
        <div class="stream-categories tile">
            <ul class="stream-nav">
                <li class="stream-nav-item bloodglucose"><a href="#">Blood Glucose<i class="bullet-arrow"></i></a>
                <li class="stream-nav-item bloodpressure"><a href="#">Blood Pressure<i class="bullet-arrow"></i></a>
                <li class="stream-nav-item bmi"><a href="#">Body Mass Index (BMI)<i class="bullet-arrow"></i></a>
                <li class="stream-nav-item cholesterol stream-active"><a href="#">Cholesterol<i class="bullet-arrow"></i></a>
            </ul>
        </div>
        <div class="stream-my-activity tile">
            <ul class="stream-nav">
                <li class="stream-nav-item myactivity"><a href="#">My Activity<i class="bullet-arrow"></i></a>
            </ul>
        </div>
        <div class="advertisement">
            <img src="static/css/images/ad-cholesterol.png">
        </div>
    </div>
</div>
{% include 'footer-community.html' %}