    </div>
    <div id="dark-bg" style="display: none">
    	<div class="popup kongkiat-challenge">
    		<h2>Dr. Kongkiat's Challenge</h2>
    		<p>Your challenge is to spend at least 3 days a week eating more vegetables and less fatty foods.  To accept this challenge, please enter a friend’s email address.  They will be your support buddy throughout the challenge, and will pressure you to stay healthy!</p>
    		<form class="form-challenge">
    			<input type="text" placeholder="friend's email" class="email-challenge">
    			<input type="submit" class="submit-challenge">
    		</form>
    		<div class="close-popup"></div>
    	</div>
	</div>
    
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/myhealth-scripts.js"></script>
    <script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/jquery.nicescroll.min.js"></script>

    <!--<script type="text/javascript" src="/static/js/d3scripts.js"></script>-->
</body>
</html>