<!DOCTYPE>
<html>
<head>
    <title>Berkeley Hospital OS | Prototype</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Amaranth:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="wrapper">
        <div id="header">
            <div id="nav-menu">
                <img src="static/css/images/logo-nav.png" class="nav-logo">
                <img src="static/css/images/cog-icon.png" class="nav-cog">
                <ul class="navigation">
                    <li><span class="site-name">HelloHealth</span>
                    <li><a href="/myhealth" class="nav-myhealth">My Health</a>
                    <li><a href="/community" class="nav-community active-link">Community</a>
                </ul>
            </div>
        </div>